.change {
    font-family: 'Climate Crisis', cursive;
    font-family: 'Libre Baskerville', serif;
    font-size: larger;
    animation: 10000ms alternate linear infinite opacity-change;
}

@keyframes opacity-change {
    0% {
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    90% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.placeholder {
    width: 100%;
    height: 100%;
    background-color: rgb(66, 61, 56);
}